.intro__subtitle{
    font-size: 24px;
    font-weight: normal;
    line-height: 1.42;
    width: 100%;
    margin-top: 0;

    margin-bottom: 32px;
}

@media screen and (max-width: 1024px){
    .intro__subtitle{


    }
}

@media screen and (max-width: 768px){
    .intro__subtitle{

    }
}

@media screen and (max-width: 320px){
    .intro__subtitle{

        line-height: 1.25;
    }
}