

.places{
    display: flex;
    flex-direction: column;
    max-width: 984px;
    width: calc(100% - 2*148px);
    margin: 0 auto;
}

@media screen and (max-width: 1144px){
    .places{
        max-width: 928px;
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 912px){
    .places{
        max-width: 720px;
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 640px){
    .places{
        max-width: 320px;
        width: 100%;
    }
}