.footer__copyright{
    margin-top: 94px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.14;
    }

@media screen and (max-width: 768px){
    .footer__copyright{
        margin-top: 90px;
        
    }
}

@media screen and (max-width: 425px){
    .footer__copyright{
        margin-top: 48px;
        
        line-height: 1;
    }
}