.intro__text{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    margin-left: 148px;
    width: 100%;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px){
    .intro__text{
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px){
    .intro__text{
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px){
    .intro__text{
        margin-left: 16px;
    }
}