.intro__text{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;

    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px){
    .intro__text{

    }
}

@media screen and (max-width: 768px){
    .intro__text{

    }
}

@media screen and (max-width: 320px){
    .intro__text{

    }
}