@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__text/intro__text.css');
@import url('./__list-text/intro__list-text.css');
@import url('./__list/intro__list.css');


.intro{
    padding-top: 92px;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    padding-left: 148px;
    box-sizing: content-box;
}

@media screen and (max-width: 1024px){
    .intro{
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px){
    .intro{
        max-width: none;
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px){
    .intro{
        max-width: none;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 24px;
    }
}