.lead__subtitle{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
    max-width: 620px;
    text-align: center;
    justify-self: center;
    grid-row: 3 / 4;
    margin: 0;
}

@media screen and (max-width: 320px){
    .lead__subtitle{
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
    }
}