@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__image/cover__image.css');

.cover{
    width: 1184px;
    height: 740px;
    margin-left: 48px;  
    background-image: url('../../../images/__background.png');
    background-size: cover;  
    transition: opacity 5s linear ease-out;
    

}

.cover:hover{
    opacity: .8;
}

@media screen and (max-width: 1024px){
    .cover{
        width: 100%;
        height: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .cover{
        width: 100%;
        height: 480px;
        margin: 0;
    }

}

@media screen and (max-width: 320px){
    .cover{
        width: 100%;
        height: 200px;
        margin: 0;
    }
}