.cover__image{
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover__image::before{
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;   
    content:"";
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__image:hover::before{
    opacity: 0.8;
}

@media screen and (max-width: 1024px){
    .cover__image{
        
        max-width: 1024px;
        min-height: 640px;
      }        
      .cover__image::before{
        max-width: 1024px;
        min-height: 640px;
        
      }
   }

@media screen and (max-width: 768px){
    .cover__image{
        
        max-width: 768px;
        min-height: 480px;
      }
      .cover__image::before{
        max-width: 768px;
        min-height: 480px;
        
      }       
        
    }

@media screen and (max-width: 425px){
    .cover__image{
        max-width: 425px;
        min-height: 200px;
      }       
      .cover__image::before{
        max-width: 425px;
        min-height: 200px;
       
      }
    
}