.cover__title{
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;    
    color:#FFFDFD;
    margin-top: 0;   
    margin-bottom: 32px;
    z-index: 2;
    text-align: center;
    
}



@media screen and (max-width: 425px){
    .cover__title{
        font-size: 32px;
        line-height: 1.09;
        
    }
}