
@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__website-heading/place__website-heading.css');
@import url('./__website-link/place__website-link.css');
@import url('./__paragraph/place__paragraph.css');

.place{
    display: flex;
    
    max-width: 984px;
    padding-bottom: 80px;

}

@media screen and (max-width: 1024px){
    .place{
        max-width: 928px;
        
    }
}

@media screen and (max-width: 768px){
    .place{
        max-width: 720px;
        
    }

}

@media screen and (max-width: 320px){
    .place{
        max-width: 320px;
        
        display: block;
        
    }

    
}