@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');
@import url('./__list/footer__list.css');
@import url('./__list-item/footer__list-item.css');
@import url('./__copyright/footer__copyright.css');

.footer{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2*48px);
    margin: 0 auto;
    max-width: 1184px;
}

@media screen and (max-width: 800px){
    .footer{
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 425px){
    .footer{
    width: calc(100% - 2*16px);
    padding-top: 64px;
    flex-direction: column;
    }
}